*{
    margin: 0px;
    padding: 0px;
}

/* >以下是header相關設定 */

.header{
    width: 100%;
    height: 54px;
    position: relative;
}

.header--fixed{
    width: 100%;
    background-color: #FFFFFF;
    position: fixed; 
    z-index: 2;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
}

.header__layout{
    width: 1200px;
    height: 54px;
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title{
    flex:none;
    width:150px;
    line-height: 34px;

    font-size: 30px;
    font-weight: bold;
    color:#448899;

    text-decoration: none;
}

.header__navbar{
    height: 34px;
}

.header__navbar-list{
    display: flex;
    list-style: none;
}

.header__navbar-item{
    color:#666666;
    font-size: 16px;
    padding: 10px;
    line-height: 14px;
    cursor: pointer;
}

/* >以下是main整個區塊的相關設定 */

.main{
    width: 1200px;
    margin-inline: auto;
    margin-block: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}


/* >以下是招呼語跟預定景點細節的相關設定 */

.booking-detail{
    width: 1000px;
}

.booking-detail__greeting{
    width: 100%;
    height: 27px;
}

.booking-detail__content{
    width: 100%;
    padding: 30px 10px 0px 10px;
    box-sizing: border-box;
    display: flex;
    gap: 30px;
}

.booking-detail__image-container{
    width: 250px;
    height: 200px;
}

.booking-detail__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.booking-detail__info{
    flex:auto;
    height: 170px;
    position: relative;
}

.booking-detail__delete-icon{
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.booking-detail__title{
    font-size: 16px;
    font-weight: bold;
    color: #448899;
    line-height: 24px;
    padding-bottom: 20px;
    
}

.booking-detail__item{
    padding-bottom: 10px;
    line-height: 24px;
}

.booking-detail__no-booking{
    padding-top: 30px;
}


/* >分隔線的相關設定 */

.main__separator{
    border: none; /* >移除默認的其他邊框設定 */
    border-bottom: 1px solid #E8E8E8;
    margin-block: 40px;
    width: 1200px;
}

/* >連絡資訊 & 信用卡付款的相關設定（因為CSS都雷同，所以寫在一起） */

.contact-info,
.payment-info{
    width: 980px;
}

.contact-info__title,
.payment-info__title{
    line-height: 24px;
    padding-bottom: 20px;
}

.contact-info__form-group{
    padding-bottom: 15px;
}

.payment-info__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-info__input,
.payment-info__input{
    width: 200px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    padding: 10px;

    font-size: 16px;
    font-weight: 500;
    color: black;
}

.contact-info__input:focus,
.payment-info__input:focus{
    outline: none;
    border-color: #448899;
    box-shadow: 0 0 3px #448899;
}

.payment-info__input::placeholder{
    font-size: 16px;
    font-weight: 500;
    color: #757575;
}

.contact-info__note{
    line-height: 24px;
}

/* >最尾端付款按鈕的區塊設定 */

.order-summary{
    width: 980px;
    height: 100px;
    position: relative;
}

.order-summary__total{
    height: 20px;

    position: absolute;
    top: 0px;
    right: 0px;
}

.order-summary__button{
    width: 173px;
    height: 36px;
    line-height: 36px;

    border-radius: 5px;
    background-color: #448899;
    border: 0px;
    font-size: 18.5px;
    color: #FFFFFF;
    cursor: pointer;

    position: absolute;
    top:42px;
    right: 0px;
}

/* >footer的相關設定 */

.footer{
    width: 100%;
    height: 104px;
    display: flex;
    justify-content: center;
    background-color: #757575;
}

.footer--no-booking{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #757575;
}

.footer__copyright{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding-top: 45px;
}


/* __一些文字樣式的共同設定 */

.booking-detail__greeting,
.contact-info__title,
.payment-info__title{
    font-size: 19px;
    font-weight: bold;
    color: #666666;
}


.booking-detail__item,
.contact-info__note,
.order-summary__total{
    font-size: 16px;
    font-weight: bold;
    color: #666666;
}

.booking-detail__value,
.contact-info__label,
.payment-info__label,
.booking-detail__no-booking{
    font-size: 16px;
    font-weight: 400;
    color: #666666;
}

/* __用來隱藏的屬性 */

.hidden{
    display: none;
}


/* !!垃圾桶圖示的問題可以再細節化 */
/* >RWD */

@media(max-width:1215px){

/* >手機+平板模式時，隱藏上下滾動條，避免那15px的寬度影響畫面 */
body::-webkit-scrollbar{ 
    display: none;
}


/* >以下是header相關設定 */

.header__layout{
    width: 100%;
}

.header__title{
    padding: 10px 0px 10px 10px;
}


/* >以下是main整個區塊的相關設定 */

.main{
    width: 100%;
    margin-inline:0px;
    padding-inline: 10px;
    box-sizing: border-box;
}


/* >以下是招呼語跟預定景點細節的相關設定 */

.booking-detail{
    width: 90%;
}


/* >分隔線的相關設定 */

.main__separator{
    width: 100%;
}


/* >連絡資訊 & 信用卡付款的相關設定（因為CSS都雷同，所以寫在一起） */

.contact-info,
.payment-info{
    width: 90%;
}


/* >最尾端付款按鈕的區塊設定 */

.order-summary{
    width: 90%;
}

}


@media(max-width:600px){

/* >以下是招呼語跟預定景點細節的相關設定 */

.booking-detail{
    width: 100%;
}

.booking-detail__content{
    display: block;
    padding: 30px 0px 0px 0px;
}

.booking-detail__image-container{
    width: 340px;
}

.booking-detail__info{
    flex:none;
    height: auto;
    padding-top: 30px;
}

.booking-detail__delete-icon{
    top: auto;
    bottom: 0px;
}


/* >連絡資訊 & 信用卡付款的相關設定（因為CSS都雷同，所以寫在一起） */

.contact-info,
.payment-info{
    width: 100%;
}

.contact-info__note{
    padding-top: 5px;
}


/* >最尾端付款按鈕的區塊設定 */

.order-summary{
    width: 100%;
}

}